In [9]:
import pandas as pd
import numpy as np
import krippendorff as kr

In [10]:
# import the file
annotation = pd.read_csv('annotation.csv')

In [11]:
annotation.head(5)

          id annotator  rating
0  t3_n28cas     user1       2
1  t3_n28cas     user2       1
2  t3_n28cas     user3       2
3  t3_n2bb3g     user1       4
4  t3_n2bb3g     user2       3

### Problem 6

1. Compute r and the compute α using the ordinal and nominal level of measurements for the
group member’s annotations and report them (three scores total).Compute r and the compute α using the ordinal and nominal level of measurements for the group member’s annotations and report them (three scores total).

In [12]:
# Pearson Correlation r
annotation_table = annotation.pivot(index='id', columns='annotator', values='rating')
annotation_table.corr(method='pearson')

annotator     user1     user2     user3
annotator
user1      1.000000  0.172092  0.778475
user2      0.172092  1.000000  0.094668
user3      0.778475  0.094668  1.000000

In [13]:
annotation_rd = [annotation_table['user1'].to_list(), annotation_table['user2'].to_list(), annotation_table['user3'].to_list()]

In [14]:
# krippendorff alpha nominal and ordinal
kr_alpha_nominal = kr.alpha(reliability_data= annotation_rd,level_of_measurement="nominal")
kr_alpha_ordinal = kr.alpha(reliability_data= annotation_rd,level_of_measurement="ordinal")

In [15]:
print(f'nominal krippendorff alpha: {kr_alpha_nominal}')
print(f'ordinal krippendorff alpha: {kr_alpha_ordinal}')

nominal krippendorff alpha: 0.163187944045861
ordinal krippendorff alpha: 0.22116451634036827

2. In 2-3 sentences, comment on the difference (if any) between your group r and the α scores. Which is higher and what do you think this means?

3. In 2-3 sentences, comment on the difference (if any) between your group’s ordinal and nominal α scores. Which is higher and what do you think this means? Which one should you use in practice to measure agreement in this setting?

### Problem 7

Once all the annotations are released, compute the agreement of all the other annotators on your group’s items.

In [16]:
train_data = pd.read_csv('si630w22-hw3-train.csv')

In [17]:
group_have_our_item = sorted(train_data['group'].unique())
output_lst = []

for group in group_have_our_item:
    other_group = train_data[(train_data['id'].isin(annotation['id'])) & (train_data['group'] == group) ]
    other_group_table = other_group.pivot(index='id', columns='annotator_id', values='rating')
    
    annotation_rel_data = []
    for annotator in other_group['annotator_id'].unique():
        annotation_rel_data.append(other_group_table[annotator].to_list())

    kr_alpha_o_other_group = kr.alpha(reliability_data=annotation_rel_data,level_of_measurement="ordinal")
    

    output_lst.append([group, len(other_group_table), kr_alpha_o_other_group])

In [18]:
df = pd.DataFrame(data=output_lst, columns = ['group','questions_covered','ordinal_krippendorff_alpha'])
df

       group  questions_covered  ordinal_krippendorff_alpha
0   group_01                 12                    0.555026
1   group_02                 17                    0.717018
2   group_03                 12                    0.403527
3   group_04                 10                    0.768293
4   group_05                 12                   -0.233699
5   group_07                 12                    0.819820
6   group_08                 12                   -0.773769
7   group_09                 11                    0.505931
8   group_10                302                    0.202908
9   group_11                 14                    0.004512
10  group_12                 11                    0.899683
11  group_13                 16                    0.442544
12  group_14                 11                    0.687603
13  group_15                 13                    0.868610
14  group_16                 13                    0.668842
15  group_17                 13                    0.714722
16  group_18                 12                   -0.046525
17  group_19                  9                    0.542088
18  group_20                 12                    0.646140
19  group_21                 13                    0.900100
20  group_22                 13                    0.120157
21  group_23                 12                    0.841139
22  group_24                 15                    0.219661
23  group_25                 12                    0.925854

In a 2-3 sentences, comment on the difference (if any) between your group’s and other students’ agreement and what you think is the cause. We recommend looking at other groups’ guidelines at this point.

### Problem 8

For each item, compute the mean score for the group’s ratings and the mean score for another group of students.

In [19]:
mean_table_our_all = annotation.groupby('id').mean()
mean_table_other_all = train_data[train_data['group'] != 'group_10'].groupby('id').mean()

In [20]:
inner_join_mean_table = mean_table_our_all.join(mean_table_other_all, on='id',how='inner', lsuffix='_our', rsuffix='_other')
inner_join_mean_table['difference'] = abs(inner_join_mean_table['rating_our'] - inner_join_mean_table['rating_other'])

In [21]:
# the mean score for the group’s ratings and the mean score for another group of students
inner_join_mean_table.sort_values(by='difference',ascending=False).head(10)

           rating_our  rating_other  difference
id
t3_nir04f    4.666667      1.333333    3.333333
t3_nns7v4    5.000000      1.666667    3.333333
t3_n4chfq    5.000000      2.000000    3.000000
t3_n30vyc    2.000000      5.000000    3.000000
t3_n7oluj    4.333333      1.500000    2.833333
t3_nap4rx    2.333333      5.000000    2.666667
t3_ng334p    5.000000      2.333333    2.666667
t3_n30alr    5.000000      2.500000    2.500000
t3_nbhhux    2.666667      5.000000    2.333333
t3_nls959    4.333333      2.000000    2.333333

In your report, include the text from each of these 10 replies and what the ratings were for each group. Describe why you think the two were different, ideally pointing to differences in the two group’s guidelines.

After a discussion with your group members, adjudicate the rating and decide what is the final “true” rating, examining all the evidence. If you changed your score, in one sentence, state what led you to do this.

### Problem 9

Based on your analysis of annotator agreement and the disagreements and the different annotation guidelines, provide at least specific improvements that could be made to your own guidelines to improve annotator agreement. Improvements should be a series of bullet points, each describing in at least 1-2 sentences the changes that would be made to increase annotator agreement or correct for gaps and edge cases.

### Problem 10

#### Install the required packages

In [3]:
# !pip install transformers

In [4]:
# !pip install datasets

In [6]:
# ! pip install datasets

In [17]:
# ! pip3 install torch==1.11.0+cu113 torchvision==0.12.0+cu113 torchaudio===0.11.0+cu113 -f https://download.pytorch.org/whl/cu113/torch_stable.html

### Problem 11 and 12

#### 11.1 The Huggingface Model

In [ ]:
# # debug
# import os
# os.environ['CUDA_LAUNCH_BLOCKING'] = '1'

In [78]:
import transformers
import pandas as pd
import numpy as np
from transformers import AutoTokenizer
from datasets import Dataset, DatasetDict, ClassLabel
from sklearn.metrics import f1_score, mean_absolute_error
import random

In [12]:
from torch import nn
import torch
from transformers import Trainer

In [13]:
torch.cuda.is_available()

True

In [14]:
torch.cuda.current_device()

0

In [15]:
torch.cuda.device_count()

1

In [16]:
torch.cuda.get_device_name(0)

'NVIDIA GeForce RTX 3060 Laptop GPU'

In [17]:
device = torch.device("cuda:0")

In [18]:
train_data = pd.read_csv('si630w22-hw3-train.csv')
test_data = pd.read_csv('si630w22-hw3-test.public.csv')
text_data = pd.read_csv('si630w22-hw3-data.csv')
dev_data = pd.read_csv('si630w22-hw3-dev.csv')

In [61]:
text_data['text'] = text_data[['question_text', 'reply_text']].agg(' [SEP] '.join, axis=1)

def load_data_to_dataset(text_df, df, is_test_data = False):

    if is_test_data == True:
        df_processed = df.groupby('id').count()
        merge_df = pd.merge(df_processed, text_df, left_on='id',right_on='question_id',how='inner')
        data = merge_df[['question_id','text']]
        
#         output = Dataset.from_pandas(data, preserve_index=False)
        output = data
        
    else:
        df_processed = df.groupby('id').mean('rating')
        merge_df = pd.merge(df_processed, text_df, left_on='id',right_on='question_id',how='inner')
        
        data = merge_df[['question_id','text','rating']]
        data = data.rename(columns={'rating': 'labels'})
        data['labels']= data['labels']
    
        output = Dataset.from_pandas(data, preserve_index=False)

    
    return output

In [62]:
# Call the tokenizer
# Call the pretrained model
model_ckpt = 'microsoft/MiniLM-L12-H384-uncased'
tokenizer = AutoTokenizer.from_pretrained(model_ckpt)

def tokenize_text(examples):
    return tokenizer(examples['text'], truncation=True, max_length=512)

In [88]:
train_ds = load_data_to_dataset(text_data, train_data, is_test_data = False)
train_ds = train_ds.map(tokenize_text, batched=True)

dev_ds = load_data_to_dataset(text_data, dev_data, is_test_data = False)
dev_ds = dev_ds.map(tokenize_text, batched=True)

test_ds = load_data_to_dataset(text_data, test_data, is_test_data = True)
# test_ds = test_ds.map(tokenize_text, batched=True)

  0%|          | 0/4 [00:00<?, ?ba/s]

In [19]:
from transformers import AutoModelForSequenceClassification as AMFSC
model = AMFSC.from_pretrained(model_ckpt, num_labels=1)

Some weights of BertForSequenceClassification were not initialized from the model checkpoint at microsoft/MiniLM-L12-H384-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [21]:
def compute_metrics(pred):
    labels = pred.label_ids
    preds = pred.predictions
    mse = mean_absolute_error(labels, preds)
    return {'mse': mse}

In [23]:
from transformers import TrainingArguments
batch_size = 32

logging_steps = len(train_ds) // batch_size
output_dir = 'minln-finetuned-rating-regression'
training_args = TrainingArguments(output_dir=output_dir,
                                  num_train_epochs=5,
                                  learning_rate=2e-5,
                                  per_device_train_batch_size=batch_size,
                                  per_device_eval_batch_size=batch_size,
#                                   weight_decay=0.01,
                                  evaluation_strategy='epoch',
                                  logging_steps=logging_steps,
                                  push_to_hub=False,
                                  fp16=True
                                 )

In [26]:
trainer = Trainer(model = model, 
                  args = training_args, 
                  train_dataset = train_ds, 
                  eval_dataset = dev_ds,
                  compute_metrics = compute_metrics,
                  tokenizer = tokenizer)

Using amp half precision backend

In [27]:
trainer.train()

The following columns in the training set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
/home/conanwu/.local/lib/python3.8/site-packages/transformers/optimization.py:306: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
***** Running training *****
  Num examples = 3779
  Num Epochs = 5
  Instantaneous batch size per device = 32
  Total train batch size (w. parallel, distributed & accumulation) = 32
  Gradient Accumulation steps = 1
  Total optimization steps = 595

The following columns in the evaluation set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
***** Running Evaluation *****
  Num examples = 811
  Batch size = 32
The following columns in the evaluation set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
***** Running Evaluation *****
  Num examples = 811
  Batch size = 32
The following columns in the evaluation set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
***** Running Evaluation *****
  Num examples = 811
  Batch size = 32
The following columns in the evaluation set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
***** Running Evaluation *****
  Num examples = 811
  Batch size = 32
Saving model checkpoint to minln-finetuned-rating-regression/checkpoint-500
Configuration saved in minln-finetuned-rating-regression/checkpoint-500/config.json
Model weights saved in minln-finetuned-rating-regression/checkpoint-500/pytorch_model.bin
tokenizer config file saved in minln-finetuned-rating-regression/checkpoint-500/tokenizer_config.json
Special tokens file saved in minln-finetuned-rating-regression/checkpoint-500/special_tokens_map.json
The following columns in the evaluation set  don't have a corresponding argument in `BertForSequenceClassification.forward` and have been ignored: text, question_id. If text, question_id are not expected by `BertForSequenceClassification.forward`,  you can safely ignore this message.
***** Running Evaluation *****
  Num examples = 811
  Batch size = 32


Training completed. Do not forget to share your model on huggingface.co/models =)

TrainOutput(global_step=595, training_loss=1.784789664204381, metrics={'train_runtime': 145.1117, 'train_samples_per_second': 130.21, 'train_steps_per_second': 4.1, 'total_flos': 1069826491272504.0, 'train_loss': 1.784789664204381, 'epoch': 5.0})

#### 11.2 Test the model

In [64]:
from transformers import pipeline
location = '/home/conanwu/minln-finetuned-rating-regression/checkpoint-500'
pipe = pipeline("text-classification", model=location, function_to_apply="none", truncation=True, max_length=512)

In [66]:
# test 1 from training csv
pipe("So what is the best headphones for people who love bass ? [SEP] I prefer Raycon Performance Ear Buds. They are small and light weight so they don’t get in the way of my cast. And they are water resistant Incase they fall off the fishing boat.")

[{'label': 'LABEL_0', 'score': 4.219916820526123}]

In [67]:
# t3_n2xpm3 (in dev csv file)
pipe("ELI5: How do analog signals (magnetic tape in particular) work? [SEP] It’s varying levels. Think of a photograph on film, which is functionally infinite resolution as far as human eyeballs are concerned (you can’t see any pixels). With magnetic tape, you feed a varying electric signal to the write-head of the tape recorder and it “writes” an equivalent magnetic field to the tape. When you run that same tape past a read-head later, the magnetic field of the tape re-creates the same electric signal (after amplification). There’s actually no difference between analog and digital here...all tapes are physically analog. It’s just a matter of how the reading machine interprets the electrical signal. If the electrical signal coming out is a copy of what came from, say, a TV camera, then you feed that output signal to a TV, then you recreate the image the camera saw.")

[{'label': 'LABEL_0', 'score': 4.479048728942871}]

In [68]:
test = pipe("ELI5: How do analog signals (magnetic tape in particular) work? [SEP] It’s varying levels. Think of a photograph on film, which is functionally infinite resolution as far as human eyeballs are concerned (you can’t see any pixels). With magnetic tape, you feed a varying electric signal to the write-head of the tape recorder and it “writes” an equivalent magnetic field to the tape. When you run that same tape past a read-head later, the magnetic field of the tape re-creates the same electric signal (after amplification). There’s actually no difference between analog and digital here...all tapes are physically analog. It’s just a matter of how the reading machine interprets the electrical signal. If the electrical signal coming out is a copy of what came from, say, a TV camera, then you feed that output signal to a TV, then you recreate the image the camera saw.")
test[0]['score']

4.479048728942871

In [69]:
def return_score(text):
    return pipe(text)[0]['score']

test_ds['predicted'] = test_ds['text'].apply(return_score)

In [70]:
# save the prediction to csv
final_output = test_ds[['question_id', 'predicted']]
final_output = final_output.rename(columns={"question_id": "id"})
final_output.to_csv("output.csv", index=False)